{% extends "base.html" %}
{% block title %}{% trans %}Enter race password{% endtrans%}{% endblock %}

{% block body %}
	<div class="row">
		<div class="md-4 offset-md-4">
			<div class="row">
				<h3>{%trans%}Enter race password{%endtrans%}</h3>
			</div>
			<div class="row">
				<form method="post" class="input-group">
					<input type="password" class="form-control" id="password" name="password" placeholder="{%trans%}Password{%endtrans%}" value="" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit">{%trans%}Enter{%endtrans%}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_bottom %}
{% endblock %}
