{% extends "base.html" %}
{% block title %}{% trans %}Splits{% endtrans%}{% endblock %}

{% block body %}

{%with URL="splits"%}
	{%include "include_dbs.html"%}
{%endwith%}
<div class="row">
	<div class="col-md-10 offset-md-1">
	<table class="table table-hover" id="tableData">
		<thead>
		<tr>
			<th data-field="tag" data-filter="true">{%trans%}Tag{%endtrans%}</th>
			<th data-field="first_time">{%trans%}First Time{%endtrans%}</th>
			<th data-field="last_time">{%trans%}Last Time{%endtrans%}</th>
			<th data-field="peak_value">{%trans%}Peak{%endtrans%}</th>
			<th data-field="peak_time">{%trans%}Peak Time{%endtrans%}</th>
			<th data-field="data">{%trans%}Info{%endtrans%}</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	enableAPI('{{RACE.getID()}}');
	InitSplits('tableData', {'db' : '{{DB}}'});
});
</script>

{% endblock %}
